*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  background-color:#071c34;
}
.container{
  width:100%;
  margin:10vh 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container h1{
  font-size:3rem;
  color:#87b2cc;
  margin: 0 0 5vh 0;
}
.input-div{
  width: 100%;
  margin-bottom:5vh;
  display: flex;
  justify-content: center;
}
.input-div input{
  width:15vw;
  height:5vh;
  padding-left:1vw;
  border: none;
  border-radius:20px;
  outline: none;
}
.input-div button{
  width:3vw;
  height:5vh;
  margin: 0 0 0 1vw;
  border: none;
  border-radius:50%;
  outline: none;
}
.container ul{
  width: 100%;
  margin: 2vh 0 0 0;
  list-style:none;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.container li{
  font-size: 1.5rem;
  color:white;
  text-transform:capitalize;
}
.container img{
  width:3vw;
}
::-webkit-scrollbar{
  width:11px;
}
::-webkit-scrollbar-track{
  background:#071c34;
  border-radius:30px;
}
::-webkit-scrollbar-thumb{
  width:7px;
  background: #AFEEEE;
  border-radius: 30px;
}